{% extends 'main.html' %}

{% block title %} OTS - Login Form {% endblock title %}
{% block top %}
<a href="{%url 'OTS:registrationForm' %}"> SignUp </a>

{% endblock %}
{% block content %}
<div class="bgloginform"></div>
<div class="all-forms">
    {% if loginError %}
        <div id="error">{{loginError}}</div>
    {% endif %}
    <form action="{% url 'OTS:login' %}" method="POST">
        {% csrf_token %}
        <div class="form-unit">
            <label for="username">Username</label><br>
            <input type="text" name="username"><br>
        </div>
        <div class="form-unit">
            <label for="password">Password</label><br>
            <input type="password" name="password"><br>
        </div>
        <div class="formunit">
            <input type="submit" value="Login">
            <input type="reset" value="Clear">
        </div>
    </form>
    <div class="newuser">
    New User <a href="{%url 'OTS:registrationForm' %}">Click Here</a>
    </div>
</div>
{% endblock %}